h1, h2, h3, p, a, li {
  font-family: "Courier New", Courier, mono;
  font-style: normal;
  color: #ffffff;
}

h1 {	
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 18px;
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: 0px;
}

h3 {	
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: 0px;
}

p, li { 	
  font-size: 14px;
}

body {
  padding-bottom: 50px; 
  background-color: #993333;
  margin-left: 14; 
  margin-top: 24;
  max-width: 800px;
}


#header_index {
  position:absolute; 
  width:354px; 
  height:45px; 
  z-index:2
}

#header {
  position:absolute; 
  top:186px; 
  width:354px; 
  height:45px; 
  z-index:2
}

#background_index {
  position:absolute; 
  left:13px; 
  top:30px; 
  width:777px; 
  height:499px; 
  z-index:1
}

